# LaTeX build artifacts
*.aux
*.log
*.out
*.pdf
*.fdb_latexmk
*.fls
*.synctex.gz
dataset/
venv/
venv
.ipynb_checkpoints/
model/.ipynb_checkpoints/
.vscode/
__pycache__/
*.pyc
dataset_arranged/
manifests/
segmentation_head.py/
